{% extends 'base.html' %}
{% load static %}
{% block title %} Form Test {% endblock %}
{% block content %}
<!-- <link rel = "stylesheet" href="{% static 'css/form.css' %}"> -->
<div class="container">
    <div class="card mt-3">
        <div class="card-header fs-5 fw-bold">
            <h2>Search Table</h2>
        </div>
        <div class='card-body'>
            <form id="ajax_form">
                <label for="search_input" class="form-label">Gene ID or Transcript ID:</label>
                <input type="text" class="form-control" name="search_input" placeholder="eg. WBGene0000001 or F07C3.7.1">
            </form>
            <hr>
            <button class="btn btn-outline-primary" id="submit">送出</button>
        </div>
        <div class='card-body'>
            <table class="table table-bordered" id="result_table" >
                <thead>
                    <tr>
                        <th>Gene ID</th>
                        <th>Transcript ID</th>
                        <th>Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="result_gene_id"></td>
                        <td id="result_transcript_id"></td>
                        <td id="result_numbers"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='card-body'>
            <div class="card-header fs-5 fw-bold text-center" data-bs-toggle="collapse" data-bs-target="#scrapedDataCollapse" aria-expanded="false" aria-controls="scrapedDataCollapse">
                <h2 id="spliced_structure_title">Spliced Table</h2>
            </div>
            <div id="scrapedDataCollapse" class="collapse show">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped" id="scraped_data_table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Start</th>
                                    <th>Stop</th>
                                    <th>Length</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 爬取的數據會顯示在這裡 -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <pre id="sequence_data" class="fs-6 m-6" style="font-family: monospace;">
                            <!-- 序列数据会显示在这里 -->
                        </pre>
                    </div>
                </div>
            </div>
        </div>

        <div class='card-body'>
            <div class="card-header fs-4 fw-bold text-center" data-bs-toggle="collapse" data-bs-target="#unsplicedDataCollapse" aria-expanded="false" aria-controls="unsplicedDataCollapse">
                <h2 id="unspliced_structure_title">Unspliced Table</h2>
            </div>
            <div id="unsplicedDataCollapse" class="collapse">
                <table class="table table-bordered table-striped" id="unspliced_data_table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Unspliced data will be displayed here -->
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-body">
            <div class="card-header text-center fs-5 fw-bold" data-bs-toggle="collapse" data-bs-target="#proteinDataCollapse" aria-expanded="false" aria-controls="proteinDataCollapse">
                <h2 id="protein_structure_title">Protein Data</h2>
            </div>
            <div id="proteinDataCollapse" class="collapse">
                <pre id="protein_data" class="fs-4 m-6">
                    <!-- 蛋白质数据会显示在这里 -->
                </pre>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/form.js' %}"></script>
{% endblock %}
